@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default
          dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #103F56;
  --color-secondary: #A3DCF5;
  --color-accent: #ADFFAD;
  --color-neutral: #F2EFE7; 
  --color-info: #449C50;
  --color-success: #2F6B35;
  --color-base-100: #F2EFE7;
  --rounded-box: 12px;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #A3DCF5;
  --color-secondary: #4D90A3;
  --color-accent: #4C8550;
  --color-neutral: #0f1724;
  --color-info: #2F6B35;
  --color-success: #2F6B35;
  --color-base-100: #0f1724;
  --rounded-box: 12px;
}
