@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default
   dark --prefersdark;
 }


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #103F56;
  --color-secondary: #A3DCF5;
  --color-accent: #ADFFAD;
  --color-neutral: #A8EED1;
  --color-info: #449C50;
  --color-base-100: #F2EFE7;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #A3DCF5;
  --color-secondary: #4D90A3;
  --color-accent: #4C8550;
  --color-neutral: #5E9E88;
  --color-info: #2F6B35;
  --color-base-100: #1e293b;
}










